* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: darkslategray
}

header {
    width: 100%;
    text-align: center;
}

.grid {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.column {
    width: 2.83%;
    display: inline-flex;
    flex-direction: column;
    margin: auto;
}

.cell {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.cell1, .cell2, .cell4, .cell6, .cell8, .cell9, .cell11, .cell13 {
    background-color: white;
}

.cell3, .cell5, .cell7, .cell10, .cell12 {
    background-color: darkgray;
}

.controls {
    width: 100%;
    display: flex;
    flex-direction: horizontal;
    background-color: darkslategray;
}

.button-area {
    width: 24.8%;
    height: 100px;
    background-color: darkblue;
    margin: auto;
}

footer {
    width: 100%;
    text-align: center;
}